@font-face {
    font-family:'Agharti';
    src: url('..//fonts/agharti-font-family-1731807283-0/AghartiFamilyTest-Bold-BF66722ede4bf4a.otf') format('truetype');
    font-weight: 1000;
    font-style: normal;
  }
  @font-face {
    font-family:'LexendDeca';
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
  }

  p{
    font-family: 'LexendDeca';
  }
* {
    box-sizing: border-box;
    
   }
   * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  span{
    font-family: 'LexendDeca';
  }

   html{
     background-color: #213343;
     height:100%;
     width: 100%;
     overflow-x: hidden;
     margin: 0;
   }

   #navbar {
    background: white;
    height: 70px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    margin-top: 40px;
    transition: top 0.8s;
}


#navbar #logo {
    display: block;
    height: 10px;
    margin: 5px;
    float: left;
}
#navbar #logo img {
    width: 50px;
}
#logo {
    position: relative;
    top: 6px;
    left: 30px;
}

#navbar #logo span {
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff!important;
}
.mobile-menu {
  display: none;
}
.header-setting {
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    left: 35%;
    margin-left: 15px;
}
.hs-toggles {
    padding: 5px 0;
}
.header-name {
  position: relative;
    font-size: 16px;
    top: 20px;
    font-weight:450;
    line-height: 20px;
    padding: 20px;
    padding-right: 25px;
    color: black;
    font-family:'LexendDeca';
}
.header-name:hover{
    color: #ff5c35;
}
.scanner{
  position: absolute;
}


   body{
       margin: 0;
       scrollbar-width: 1px;
   }
   a {
    text-decoration: none!important;
}
   h1{
       text-align: center;
   }

/*bg-container-1*/
.campus-bg-container-1{
    height: 75vh;
    width: 100%;
    
}
.campus-bg-container-1 video {
    object-fit: cover;
    border: #213343 solid 5px;
    border-right: 0;
    border-left: 0;
    z-index: 1;
  }
  .overlay-vedio {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75vh;
    z-index: 2;
    text-align: center;
    background-color: rgb(0, 0, 0,0.5);
  }
  .overlay-vedio h2{
    color: white;
    font-family: 'LexendDeca';
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 4.5vw;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
    margin: 25px 0px;
    position: relative;
    top: 40%;
  }
/**/
  .campus-bg-container-2{
    background-color: #f2e1c5;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 1vw 0;
    padding-left: 8vw;
    padding-right:8vw;
    padding-bottom: 4vw;
  }
  .campus-bg-container-2 h2{
    font-family: "Agharti";
    font-size: 5.5vw;
    color: #213343;
    text-align: center;
    letter-spacing: 0.5vw;
    margin: 2vw 0;
  }
  .campus-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
  }
  @media (min-width: 768px) {
    .campus-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .campus-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .campus-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .campus-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .campus-card img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 10px;
  }
  .campus-card h2 {
    font-family: "LexendDeca";
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    font-weight: 700;
    margin: 0;
    padding: 16px 16px;
    padding-top: 0;
  }
  .campus-bg-container-3{
    background-color: #213343;
    height: 100%;
    width: 100%;
    padding-bottom: 4vw;
    padding-left: 8vw;
    padding-right: 8vw;
}
.campus-bg-container-3 h2{
    font-family: "Agharti";
    font-size: 4.5vw;
    color: #fff;
    text-align: left;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    margin: 2vw 0;
    padding-top: 2vw;
  }
  .campus-bg-container-3 iframe{
    padding: 2vw 5vw;
    height: 75vh;
    width: 100%;
    border-radius: 10px;
  }
  .campus-bg-container-4{
    background-color: #f2e1c5;
    height: 100%;
    width: 100%;
    padding: 3vw 0;
    padding-left: 8vw;
    padding-right: 8vw;
}
.campus-bg-container-4 h2{
    font-family: "Agharti";
    font-size: 5vw;
    color: #213343;
    text-align: left;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    margin: 2vw 0;
    margin-top: 0;
  }
  .campus-clubs-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vw;
  }
  @media (min-width: 768px) {
    .campus-clubs-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .campus-clubs-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .campus-clubs-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .campus-clubs-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .campus-clubs-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    padding: 5% 5% 0 5%;
    border-radius: 10%;
  }
  .campus-clubs-card h2 {
    font-family: "LexendDeca";
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    font-weight: 700;
    margin: 0;
    padding: 16px 16px;
    text-align: center;
  }
  .campus-bg-container-5{
    background-color: #213343;
    height: 100%;
    width: 100%;
    padding-bottom: 4vw;
    padding-left: 8vw;
    padding-right: 8vw;
}
.campus-bg-container-5 h2{
    font-family: "Agharti";
    font-size: 4.5vw;
    color: #fff;
    text-align: left;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    margin: 2vw 0;
    padding-top: 2vw;
  }
  .campus-bg-container-5 iframe{
    height: 75vh;
    width: 100%;
  }
  .campus-bg-container-6{
    background-color: #f2e1c5;
    height: 100%;
    width: 100%;
    padding: 3vw 0;
    padding-left: 8vw;
    padding-right: 8vw;
}
.campus-bg-container-6 h2{
    font-family: "LexendDeca";
    font-size: 2.5vw;
    font-weight: 600;
    color: #213343;
    text-align: left;
    letter-spacing: 0;
    margin: 2vw 0;
    margin-top: 0;
  }
  .follow-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
    width: 20vw;
  }
  @media (min-width: 768px) {
    .follow-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .follow-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .follow-grid  a{
    height: 13vh;
    width: 20vw;
  }
  .follow-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 70%;
    width: 20vw;
  }
  .follow-card-container{
    margin-left: 4.5vw;
    position: relative;
    top: -4.9vw;
  }
  .follow-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .follow-card img {
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    padding: 3.3% 0 3.3% 0.5vw;
    border-radius: 50%;
  }
  .follow-card h2 {
    font-family: "LexendDeca";
    font-size: 1.45vw;
    letter-spacing: 0.1vw;
    font-weight: 700;
    margin: 0;
    padding: 1.15vw 0.5vw 1.15vw 0.5vw;
    text-align: left;
  }
  /*footer*/
 .footer{
    background-color:#213343;
    height: 25vh;
    width: 100%;
    margin: 0;
    position: relative;
    top: -5px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer-container{
    padding: 45px 0 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo{
    height: auto; 
    width: 300px;
    position: relative;
  }
  .date-footer{
    font-family: 'LexendDeca';
    color: #949393;
    position: relative;
    left: 10px;
    font-size: 13px;
    letter-spacing: 1.2px;
  }
  .copyrights{
    color: white;
    font-size: 10px;
    position: relative;
    top: 20px;
    left: 20px;
  }
  .hs-toggles-footer {
    position: relative;
    left: 23%;
  }
  .footer-name {
    position: relative;
      font-size: 15px;
      top: 30px;
      line-height: 20px;
      padding: 20px;
      padding-right: 15px;
      color: #ffffff;
      font-family:'LexendDeca';
      font-weight: 500;
  }
  .social-buttons{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 100px;
  }
  .social-buttons p{
    color: grey;
    position: absolute;
    font-size: 18px;
    top: -8px;
    left: -150px;
    font-family: 'LexendDeca';
  }
  .social-buttons a.fab {
    display: inline-block;;
    margin: 8px 0 8px 0px;
  }
  
  .social-buttons a {
    font-size: 0.64em;
    padding-right: 0.6em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
  }
  .social-buttons a {
    display: inline-block;
    border-radius: var(--ap-border-radius);
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #213343;
    padding: 10px;
    border-radius: 50%;
    border: grey solid 0.3px;
    transition: 1s;
  }
  .color{
    color: white;
  }
  
  /*footer ends*/
  
  /* Media Queries for 13 to 14-inch laptops */
@media (min-width: 1280px) and (max-width: 1370px) {
  html{
    height: 100%;
    width: 100%;
  }
  #navbar{
    margin-left: 5vw;
    margin-right: 5vw
  }
  .overlay-vedio {
    height: 76vh;
  }
  .follow-card{
    height: 65%;
  }

.footer{
  height: 30vh;
}
.hs-toggles-footer {
  position: relative;
  left: 13%;
}
.social-buttons{
  top: -6vh;
  left: 70%;
}
}
/* Media Queries for 15 to 16-inch laptops */
@media (min-width: 1370px) and (max-width: 1600px) {
  html{
    height:100%;
    width: 100%;
  }
  #navbar{
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .overlay-vedio {
    height: 69vh;
  }
  .follow-card{
    height: 60%;
  }
.footer{
  height: 28vh;
  padding: 5px 5vw;
}
.hs-toggles-footer {
  position: relative;
  left: 13%;
}
.social-buttons{
  top: 8vh;
  left: -10%;
}
}
/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {

  html{
    background-color: #213343;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    margin: 0; /* Remove default body margin */
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  #navbar {
    width: auto;
    height: 60px;
    margin: 0 5% ;
    margin-top: 20px;
    overflow: hidden;
}
#navbar #logo {
  display: block;
  height: 20px;
  margin: 3px;
  float: left;
}
#navbar #logo img {
  width: 40px;
}
#logo {
  position: relative;
  top: 6px;
  left: 20px;
}
.header-name {
  display: none;
}
.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px;
  transition: transform 0.3s ease;
  top: 17px;
  float: right;
  right: 20px;
}

.menu-icon div {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon div:nth-child(1) {
  top: 0;
}

.menu-icon div:nth-child(2) {
  top: 10px;
}

.menu-icon div:nth-child(3) {
  top: 20px;
}

.menu-icon.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  margin-top: 76px;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: height .40s ease;
}

.mobile-menu a {
  padding: 15px;
  text-decoration: none;
  color: #213343;
  font-family: "LexendDeca";
  font-size: 4vw;
  font-weight: 500;
  transition: .35s ease;
  padding-left: 40px;
}

.mobile-menu a:hover {
  background-color: #f4f4f4;
}

.mobile-menu a:last-child {
  border-bottom: none;
}
.overlay-vedio{
  height: 23vh;
}
.campus-bg-container-2 h2{
  font-size: 10vw;
}
.campus-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}
.campus-card img{
  height: 30vw;
}
.campus-card h2{
font-size: 3vw;
padding-bottom: 10px;
}
.campus-bg-container-3 h2{
font-size: 8vw;
}
.campus-bg-container-3 iframe{
  height: 20vh;
}
.campus-bg-container-4{
  padding-bottom: 2vh;
}
.campus-bg-container-4 h2{
  font-size: 8vw;
}
.campus-clubs-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}
.campus-clubs-card h2{
  font-size: 2vw;
  padding: 5px;
}
.campus-bg-container-5{
  padding-bottom: 3vh;
}
.campus-bg-container-5 h2{
  font-size: 8vw;
}
.campus-bg-container-6{
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.campus-bg-container-6 h2{
  font-size: 6vw;
}
.follow-grid {
  grid-template-columns: repeat(4, 1fr);
}
.follow-grid  a{
  height: 13vh;
}
.follow-card{
  height: 35%;
}
.follow-card-container{
  top: -6.9vw;
}
.follow-card img{
  width: 22%;
  padding-top: 12%;
}
.follow-card h2 {
  font-size: 2vw;
}

/*footer*/
.footer{
  height: 45vh;
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;
}
.footer-container{
  padding: 25px 0 5px;
  display: block;
}
.footer-logo{
  height: auto; 
  width: 70%;
  position: relative;
  margin-bottom: 2%;
}
.date-footer{
  left: 4%;
  font-size: 2.5vw;
  margin:0;
}
.copyrights{
  top: 10px;
}
.footer-name {
    float: left;
    left: -80px;
    padding: 10px;
    font-size: 4vw;
}
.social-buttons{
  top: 120px;
  left: -320px;
  width: 600px;
}

/*footer ends*/
}
