* {
    box-sizing: border-box;
    transition: all 0.2s;
  }
  @font-face {
    font-family:'Agharti';
    src: url('..//fonts/agharti-font-family-1731807283-0/AghartiFamilyTest-Bold-BF66722ede4bf4a.otf') format('truetype');
    font-weight: 1000;
    font-style: normal;
  }
  @font-face {
    font-family:'LexendDeca';
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
  }
  
  body {
    margin: 0px;
    overflow: hidden;
    background-color: #f2e1c5;
  }
  

  /*HEADER STARTS
---------------------------------------------------*/
#navbar {
    background: white;
    height: 70px;
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    margin-top: 3vw;
    transition: top 0.8s;
  }
  
  
  #navbar #logo {
    display: block;
    height: 10px;
    margin: 5px;
    float: left;
  }
  #navbar #logo img {
    width: 50px;
  }
  #logo {
    position: relative;
    top: 6px;
    left: 30px;
  }
  
  #navbar #logo span {
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff!important;
  }
  .mobile-menu{
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-setting {
    float: left;
    text-align: center;
    height: 5vw;
    position: relative;
    left: 30vw;
    margin-left: 1vw;
  }
 .hs-toggles {
    height: 5vw;
    padding: 0.4vw 0;
  }
  .header-name {
  position: relative;
    font-size: 16px;
    top: 20px;
    font-weight:450;
    line-height: 20px;
    padding: 20px;
    padding-right: 25px;
    color: black;
    font-family:'LexendDeca';
    text-decoration: none;
  }
  .header-name:hover{
    color: #ff5c35;
  }
  .scanner{
  position: absolute;
  }
  
  /*HEADER ENDS
  ---------------------------------------------------*/

  body .heading {
    font-size: 8rem;
    margin: 7rem 0rem;
    font-family: "Agharti";
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 160px;
    font-weight: 600;
    color: #213343;
    display: inline-block;
    position: relative;
    z-index: 3;
    margin-top: 260px;
    margin-bottom: 20px;
  }
  
  @keyframes move {
    from {
      transform: rotate(45deg) translate(-400px, -5px);
    }
    to {
      transform: rotate(45deg) translate(-400px, -120px);
    }
  }
  body .container {
    background-color: #f2e1c5;
    margin: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 5px;
    animation: move 5.5s linear infinite alternate;
  }
  .tabs {
    display: flex;
    justify-content: left;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 20%;
    margin-left:0;
  }

  .tabs a{
    background-color: #213343;
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .tabs a:hover{
    transform: scale(1.08);
  }
  .tab {
    padding: 10px 20px;
    border-radius: 15px;
    width: 45%;
    margin: 0 10px;
    cursor: pointer;
    color: #213343;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Agharti";
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 27px;
    border: none;

  }
  .tab:hover {
    background-color: #213343;
    color: white;
  }
  .tab:active {
    animation: clickAnimation 0.2s;
  }
  @keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
  }
  .tab.active {
    background-color: #213343;
    color: white;
  }
  .hidden {
    display: none;
  }

  .position-heading{
    position: relative;
    left: 15%;
  }
  
  .container .child-container {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #b9b9b9;
    text-align: center;
    overflow: hidden;
  }
  
  .child-container img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  
  @media screen and (max-width: 1000px) {
    body .heading {
      margin: 9rem 3rem;
      font-size: 6rem;
    }
  }
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  

  


  
  @media screen and (max-width: 768px) {
    html {
      margin: 0; /* Remove default body margin */
      overflow-x: hidden; /* Prevent horizontal overflow */
    }
    #navbar {
      width: auto;
      height: 60px;
      margin: 0 5% ;
      margin-top: 20px;
      overflow: hidden;
  }
  #navbar #logo {
    display: block;
    height: 20px;
    margin: 3px;
    float: left;
  }
  #navbar #logo img {
    width: 40px;
  }
  #logo {
    position: relative;
    top: 6px;
    left: 20px;
  }
  .header-name {
    display: none;
  }
  .menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 24px;
    transition: transform 0.3s ease;
    top: 17px;
    float: right;
    right: 20px;
  }
  
  .menu-icon div {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .menu-icon div:nth-child(1) {
    top: 0;
  }
  
  .menu-icon div:nth-child(2) {
    top: 10px;
  }
  
  .menu-icon div:nth-child(3) {
    top: 20px;
  }
  
  .menu-icon.open div:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }
  
  .menu-icon.open div:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.open div:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }
  
  .mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    margin-top: 76px;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    z-index: 200;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: height .40s ease;
  }
  
  .mobile-menu a {
    padding: 15px;
    text-decoration: none;
    color: #213343;
    font-family: "LexendDeca";
    font-size: 4vw;
    font-weight: 500;
    transition: .35s ease;
    padding-left: 40px;
  }
  
  .mobile-menu a:hover {
    background-color: #f4f4f4;
  }
  
  .mobile-menu a:last-child {
    border-bottom: none;
  }
  

  body .heading {
    font-size: 15vw;
    margin: 1vw 1vw;
    font-family: "Agharti";
    text-transform: uppercase;
    letter-spacing: 1.5vw;
    line-height: 90px;
    font-weight: 900;
    color: #213343;
    display: inline-block;
    position: relative;
    left: 20px;
    z-index: 3;
    margin-top: 40%;
    margin-bottom: 0;
    width: 100% ;
  }
  body .container {
    background-color: #f2e1c5;
    margin: 0px;
    position: fixed;
    right: 60px;
    top: 15vw;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 2.5px;
    animation: move 5.5s linear infinite alternate;
  }
  .tabs {
    display: flex;
    justify-content: left;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 60%;
    position: relative;
    margin-left: 2%;
  }
  .tab {
    padding: 8px 18px;
    border-radius: 15px;
    width: 45%;
    margin: 0 10px;
    cursor: pointer;
    color: #213343;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Agharti";
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    border: none;

  }
  @keyframes move {
    from {
      transform: rotate(45deg) translate(20px, 80px);
    }
    to {
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
  
  .position-heading{
    position: relative;
    left: 2.5vw;
  }
  .container .child-container {
    width: 90px;
    height: 90px;
    border-radius: 4px;

  }

  /*footer*/
  .footer{
    height: 43vh;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer-container{
    padding: 25px 0 5px;
    display: block;
  }
  .footer-logo{
    height: auto; 
    width: 300px;
    position: relative;
    margin-bottom: 5px;
  }
  .date-footer{
    left: 15px;
    font-size: 12px;
  }
  .copyrights{
    top: 10px;
  }
  .footer-name {
      float: left;
      left: -80px;
      padding: 10px;
  }
  .social-buttons{
    top: 120px;
    left: -290px;
    width: 600px;
  }
  
  /*footer ends*/
  
  }
  @media (min-width: 1280px) and (max-width: 1440px) {
  #navbar{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}