   @font-face {
    font-family:'Agharti';
    src: url('..//fonts/agharti-font-family-1731807283-0/AghartiFamilyTest-Bold-BF66722ede4bf4a.otf') format('truetype');
    font-weight: 1000;
    font-style: normal;
  }
  @font-face {
    font-family:'LexendDeca';
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
  }

  p{
    font-family: 'LexendDeca';
  }
* {
    box-sizing: border-box;
    
   }
   * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  span{
    font-family: 'LexendDeca';
  }

   html{
     background-color: #213343;
     height: 100%;
     width: auto;
     overflow-x: hidden;
   }

   #navbar {
    background: white;
    height: 70px;
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    margin-top: 3vw;
    transition: top 0.8s;
}


#navbar #logo {
    display: block;
    height: 10px;
    margin: 5px;
    float: left;
}
#navbar #logo img {
    width: 50px;
}
#logo {
    position: relative;
    top: 6px;
    left: 30px;
}

#navbar #logo span {
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff!important;
}
.mobile-menu {
  display: none;
}
.header-setting {
    float: left;
    text-align: center;
    height: 5vw;
    position: relative;
    left: 30vw;
    margin-left: 1vw;
}
.hs-toggles {
    padding: 5px 0;
}
.header-name {
  position: relative;
    font-size: 16px;
    top: 20px;
    font-weight:450;
    line-height: 20px;
    padding: 20px;
    padding-right: 25px;
    color: black;
    font-family:'LexendDeca';
}
.header-name:hover{
    color: #ff5c35;
}
.scanner{
  position: absolute;
}


   body{
       margin: 0;
       scrollbar-width: 1px;
   }
   a {
    text-decoration: none!important;
}
   h1{
       text-align: center;
   }

/*bg-container-1*/

.bg-container-1{
    width: 100%; 
    height: 90vh; 
    overflow: hidden; 
    position: relative; 
  }
#container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
#background-video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

#overlay {
  position: absolute;
  width: 50px; /* Small size */
  height: 50px; /* Small size */
  border-radius: 50%;
  background-color: rgba(252, 244, 236, 0.85);
  pointer-events: none;
  transition: background 1s, width 1s, height 1s; /* Add transition for size */
  box-shadow: 0 0 0 100vw rgba(252, 244, 236, 0.85);
}
#container:hover #overlay {
  background: transparent;
}


.ff-text {
        position: absolute; 
        top: 50%;
        left: 50vw; 
        text-align: center;
        transform: translate(-50%, -50%); 
        color: #213343; 
        font-size: 1vw; 
        z-index: 1;
        text-align: center; 
        font-family: 'LexendDeca';
}
.ff-text h3{
    font-family:'LexendDeca';
    line-height: 1.8; 
    transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1vw;
    font-size: 1.1vw;
}
.ff-text h1{
    font-size: 10vw;
    font-family: 'Agharti';
    font-weight: 800;
    letter-spacing: 0.6vw;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 1vw;
    margin-bottom: 0vw;

}
.ff-text p{
    font-size: 1vw;
    color: black;
    font-style: italic;
    font-family:'LexendDeca';
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0 80px;
}

.countdown-main {
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.8vw;
  position: relative;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-left: 10px;
}

.title {
  color: #213343;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
}

.countdown-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.countdown-block:last-child {
  margin-right: 0;
}

.time-elem {
  position: relative;
  color: #fff;
  position: relative;
  height: 70px;
  width: 80px;
  background-color: #213343;
  border-radius: 8px;
  text-align: center;
  font-size: 35px;
  overflow: hidden;
  margin-bottom: 27px;
  line-height: 70px;
  -webkit-box-shadow: 0px 8px 0px 0px #16151d;
          box-shadow: 0px 8px 0px 0px #16151d;
}

.time-elem::before, .time-elem::after {
  content: '';
  position: absolute;
  z-index: 6;
  top: calc(50% - 5px);
  background-color: rgba(252, 244, 236, 0.85);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.time-elem::before {
  left: -5px;
}

.time-elem::after {
  right: -5px;
}

.time-elem > span {
  position: absolute;
  left: 0;
  right: 0;
}

.top {
  z-index: 3;
  background-color: #2a2a41;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(200px);
          transform: perspective(200px);
}

.time-elem .top::after, .time-elem .bottom-back::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #24242e;
}

.bottom {
  z-index: 1;
}

.bottom::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #33354d;
}

.bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #33354d;
}

.bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top, .top-back {
  height: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.top-back {
  z-index: 4;
  bottom: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  background-color: #33354d;
  -webkit-transform: perspective(200px) rotateX(180deg);
          transform: perspective(200px) rotateX(180deg);
}

.top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}


/*bg-container-2*/
.bg-container-2{
    background-color: #213343;
    height: 100%;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
}
.bg-container-2 img{
    width: 22vw;
    border-radius: 20px;
    position: absolute;
    margin: 5vw 0;
}
.bg-container-2 img:active{
        box-shadow: 10px 10px #9c9b9b;
        transform: translateY(20px);
}
.block-name{
    float: right;
    color: white;
    position: relative;
    margin: 4.5vw 0;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: justify;
    left: 15vw;
}
.block-name h2{
    font-family: 'Agharti';
    font-weight: 700;
    font-size: 4vw;
    right: 0;
    text-align: center;
    letter-spacing: 0.5vw;
    margin-top: 1vw;
    margin-bottom: 0;
}
.block-name p{
    padding-left: 4vw;
    margin-top: 1px;
    font-family: 'LexendDeca';
    padding-right: 4vw;
    font-size: 1.07vw;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: 300;
    font-style: italic;
}
/*bg-container-3*/
.bg-container-3{
    background-color: #f2e1c5;
    height: 100%;
    width: 100%;
    position: relative;
    top: -5px;
    margin: 0;
    padding: 4vw 0;
    padding-left: 10vw;
    padding-right: 10vw;
}
.why{
    font-size: 3vw;
    position: relative;
    color: #213343;
    width: 35vw;
}
.why h2{
    text-transform: uppercase;
    font-family: 'Agharti';
    font-weight: 900;
    letter-spacing: 0.5vw;
    line-height: 0.2;
    font-size: 7.2vw;
    margin-top: 4vw;
    width: 35vw;
}

.why-bg-2-container{
    margin: 0;
    justify-content: center;
    position:relative;
    left: 35vw;
    margin-top: -25vw;
    }
    .why-grid{
      display: grid;
      grid-template-columns: 2fr;
      gap: 0.8vw;
      width: 25vw;
    }
    @media (min-width: 768px) {
      .why-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media (min-width: 1024px) {
      .why-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .why-card {
      border-radius: 15px;
      padding:10px;
      background-color:white;
      height: auto;
      width: 22vw;
      transition: 0.5s;
    }
    .why-card:hover{
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    }
    
    .why-container {
      color:#213343;
    }
    .why-container a{
      text-decoration: none;
      color:#213343;
    }
    .why-h2{
      font-size: 1.5vw;
      font-family:'Agharti';
      text-transform: uppercase;
      color: #213343;
      text-align: center;
      letter-spacing: 0.2vw;
      text-decoration: none;
      margin-bottom: 0.1vw;
      margin-top: 0.3vw;
    }
    .why-h5{
      position: relative;
      color: black;
      font-family: 'LexendDeca';
      font-size: 1vw;
      font-weight: 300;
      line-height: 1.25;
      text-decoration: none;
      letter-spacing: 0.05vw;
      font-style: italic;
      margin-top: 0.3vw;
      margin-bottom: 0.5vw;
      padding: 0 2vw;
    }

    .recap-video iframe{
      width: 60vw;
      height: 30vw;
      position: relative;
      margin: 0 10vw;
      margin-top: 5vw;
      justify-items: center;
      border-radius: 20px;
      border: none;
    }

/*bg-container-4*/
.bg-container-4{
    height: 100%;
    width: 100%;
    background-color: #213343;
    position: relative;
    top: -5px;
    margin: 0;
    padding: 3vw 0;
}
.events {
    position: relative;
    overflow: hidden;
  }
  
  .events-category {
    padding: 0 10vw;
    font-size: 5vw;
    margin-bottom: 2vw;
    text-transform: capitalize;
    color: white;
    font-weight: 800;
    margin-top: 0;
    text-align: left;
    font-family: 'Agharti';
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.5vw;
  }
  
  .events-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .events-container::-webkit-scrollbar {
    display: none;
  }
  
  .events-card {
    flex: 0 0 auto;
    width: 19vw;
    height: 30.5vw;
    margin-right: 2vw;
    background-color: #fff;
    padding: 1.2vw;
    box-shadow: 0 5px 15px #ffffff26;
    transition: 0.5s;
    overflow-y: hidden;
  }
  .events-card:hover{
    transform: translateY(-5px);
  }
  .event-date{
    color: black;
    font-family: 'LexendDeca';
    font-size: 0.7vw;
    font-weight: 350;
    letter-spacing: 0.8px;
    margin: 1vw 0;
    font-style: italic;
  }
  .event-name{
    font-size: 1.7vw;
    font-family: 'LexendDeca';
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    margin: 0 0 0.8vw 0;
  }
  .event-img{
    width: 100%;
    height: 13vw;
  }

  .card-btn {
    position: relative;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5vw;
    width: 16vw;
    font-family: "LexendDeca";
    font-size: 0.8vw;
    text-transform: capitalize;
    border: none;
    outline: none;
    margin: 1vw 0 1vw 0;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    border: black solid 1px;
    color: black;
  }
  
  .events-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
    border: none;
  }

  /*pre&next btn*/
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #213343 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
    .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }

/*bg-container-5*/
  .bg-container-5{
    height: 100%;
    width: 100%;
    background-color: #faf1e2;
    position: relative;
    top: -5px;
    margin: 0;
    padding: 5vw 0;
}
.snaps-heading-container{
    position: relative;
    padding: 0 10vw;
    height: 5vw;
}
.snaps-heading-container h2{
    font-size: 5vw;
    text-align: left;
    position: relative;
    font-family: 'Agharti';
    text-transform: uppercase;
    color: #213343;
    margin: 10px 10px 10px 5px;
    text-decoration: none;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 4px;

}
.snaps-heading-container p{
  font-size: 1.2vw;
  text-align: left;
  position: relative;
  font-family:'LexendDeca';
  font-style: italic;
  letter-spacing: 0.2vw;
  line-height: 1.5;
  color: #213343;
  font-weight: 350;
}
.snaps-container{
  position: relative;
  height: 148vh;
  margin-top: -10vw;
}
.img-1{
  position: absolute;
  width: 38vw;
  top: 32vw;
  right: 54vw;
  transition: 0.3s;
  
}
.img-1:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #a5a573 1.5vw solid;
  right: 52vw;
}
.img-2{
  position: absolute;
  float: right;
  width: 40vw;
  right: 2vw;
  top: 27vw;
  transition: 0.3s;
  
}
.img-2:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #727390 1.5vw solid;
  right: 5vw;
}
.img-3{
  position: absolute;
  float: right;
  width: 40vw;
  right: 4vw;
  top: 60vw;
  transition: 0.3s;
  
}
.img-3:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #e8effb 1.5vw solid;
  right: 75px;
}
.img-4{
  position: absolute;
  float: right;
  width: 40vw;
  right: 20vw;
  top: 20vw;
  transition: 0.3s;
  
}
.img-4:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #39414c 1.5vw solid;
  right: 20vw;
}
.img-5{
  position: absolute;
  width: 40vw;
  float: right;
  top: 60vw;
  right: 56vw;
  transition: 0.3s;
  
}
.img-5:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #6c8024 1.5vw solid;
  right: 50vw;
}
.img-6{
  position: absolute;
  float: right;
  width: 40vw;
  right: 45vw;
  top: 24vw;
  transition: 0.3s;
}
.img-6:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #de5b0a 1.5vw solid;
}
.img-7{
  position: absolute;
  float: right;
  width: 40vw;
  right: 40vw;
  top: 50vw;
  transition: 0.3s;
  
}
.img-7:hover{
  width: 42vw;
  transform: scale(1.2);
  z-index: 3;
  border: #9d7960 1.5vw solid;
}
.img-8{
  position: absolute;
  float: right;
  width: 42vw;
  right: 12vw;
  top: 42vw;
  transition: 0.3s;
  
}
.img-8:hover{
  width: 44vw;
  transform: scale(1.2);
  z-index: 3;
  border: #796673 1.5vw solid; 
}

/* bg- container 6*/
.bg-container-6{
  background-color: #213343;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  top: -5px;

}

.bg-container-6 video {
  object-fit: cover;
  border: #213343 solid 5px;
  border-right: 0;
  border-left: 0;
}

.overlay-vedio {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  background-color: rgb(0, 0, 0,0.3);
}
.overlay-vedio h2{
  color: white;
  font-family: 'Agharti';
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-size: 4vw;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.3);
  margin: 1vw 0px;
  position: relative;
  top: 18vw;
}
.overlay-vedio a{
  color: black;
  padding: 12px 28px;
  background-color: white;
  border: #ffd268 solid 2px;
  width: 800;
  font-size: 20px;
  font-family: 'LexendDeca';
  text-transform: uppercase;
  position: relative;
  top: 18vw;
  color: #213343;
}
.overlay-vedio a:hover{
  box-shadow: inset 0 0 0 0.2875rem #ffd268;
}

.bg-container-7{
  background-color: #f2e1c5;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
}
.bg-7-card-container{
  display: flex;
  gap: 4vw;
}

.card-bg-7{
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2vw;
  width: 35vw;
  align-items: center;
}
.card-bg-7 img{
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}
.card-content-bg-7{
  margin-left: 3vw;
}
.card-content-bg-7 h2{
  font-family: 'Agharti';
  letter-spacing: 0.2vw;
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
  color: #2C3E50;
}
.card-content-bg-7 p{
  font-family: 'LexendDeca';
  font-size: 1vw;
  color: #000000;
  margin: 1vw 0;
  font-weight: 300;
  font-style: italic;
}
.card-content-bg-7 a{
  font-family: 'LexendDeca';
  font-size: 1vw;
  color: #2C3E50;
  text-decoration: none;
  font-weight: bold;
}
.card-content-bg-7 a:hover{
  color: #ff5c35;
  text-decoration: underline;
}
  /*footer*/
  .footer{
    background-color:#213343;
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2.5vw;
  }
  .footer-container{
    padding: 2vw 0 0.5vw 0;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo{
    height: auto; 
    width: 20vw;
    position: relative;
  }
  .date-footer{
    font-family: 'LexendDeca';
    color: #949393;
    position: relative;
    left: 1vw;
    font-size: 0.8vw;
    letter-spacing:0.1vw;
    padding-top: 0.5vw;
  }
  .copyrights{
    color: white;
    font-family: 'LexendDeca';
    font-size: 0.6vw;
    position: relative;
    left: 1vw;
    padding-top: 0.5vw;
  }
  .hs-toggles-footer {
    position: relative;
    left: 20vw;
  }
  .footer-name {
    position: relative;
      font-size: 1vw;
      top: 1.5vw;
      line-height: 2vw;
      padding: 1vw;
      padding-right: 1vw;
      color: #ffffff;
      font-family:'LexendDeca';
      font-weight: 500;
      text-decoration: none;
  }
  .social-buttons{
    font-size: 1.8vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 2.5vw;
  }
  .social-buttons p{
    color: grey;
    position: relative;
    font-size: 1vw;
    top: 3vw;
    left: -10vw;
    font-family: 'LexendDeca';
  }
  .social-buttons a.fab {
    display: inline-block;;
    margin: 8px 0 8px 0px;
  }
  
  .social-buttons a {
    font-size: 1.3vw;
    padding-right: 0.6vw;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
  }
  .social-buttons a {
    display: inline-block;
    border-radius: var(--ap-border-radius);
    height: 2.5vw;
    width: 2.5vw;
    text-align: center;
    background-color: #213343;
    padding: 0.5vw;
    border-radius: 50%;
    border: grey solid 0.3px;
    transition: 1s;
  }
  .color{
    color: white;
  }

/*footer ends*/

/* Media Queries for 13 to 14-inch laptops */
@media (min-width: 1280px) and (max-width: 1370px) {
  #navbar{
    margin-left: 5vw;
    margin-right: 5vw
  }
}

/* Media Queries for 15 to 16-inch laptops */
@media (min-width: 1370px) and (max-width: 1600px) {
  #navbar{
    margin-left: 5vw;
    margin-right: 5vw;
  }
}


/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {

  html{
    overflow-x: hidden;
  }
  body {
    margin: 0; /* Remove default body margin */
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  #navbar {
    height: 15vw;
    margin: 0 5vw ;
    margin-top: 6vw;
    overflow: hidden;
}
#navbar #logo {
  display: block;
  height: 20px;
  margin: 3px;
  float: left;
}
#navbar #logo img {
  width: 40px;
}
#logo {
  position: relative;
  top: 6px;
  left: 20px;
}
.header-name {
  display: none;
}
.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 8vw;
  transition: transform 0.3s ease;
  margin: 4vw 0;
  float: right;
  margin-right: 6vw;
}

.menu-icon div {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon div:nth-child(1) {
  top: 0;
}

.menu-icon div:nth-child(2) {
  top: 10px;
}

.menu-icon div:nth-child(3) {
  top: 20px;
}

.menu-icon.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 5vw;
  margin-right: 5vw;
  position: absolute;
  margin-top: 76px;
  height: 100%;
  width: 90vw;
  border-radius: 5px;
  overflow: hidden;
  z-index: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: height .40s ease;
}

.mobile-menu a {
  padding: 15px;
  text-decoration: none;
  color: #213343;
  font-family: "LexendDeca";
  font-size: 4vw;
  font-weight: 500;
  transition: .35s ease;
  padding-left: 40px;
}

.mobile-menu a:hover {
  background-color: #f4f4f4;
}

.mobile-menu a:last-child {
  border-bottom: none;
}

/*bg-container-1*/

.bg-container-1{
  height: 100%; 
}
#container {
height: 70vh;
}
#overlay {
  position: absolute;
  top: -91vw;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background-color: rgba(252, 244, 236, 0.85);
}

#container:hover #overlay {
  background-color: rgba(252, 244, 236, 0.85);
}
.ff-text {
  font-size: 100%; 
}
.ff-text h3{
  font-size: 3vw;
}
.ff-text h1{
  font-size: 18vw;
  letter-spacing: 0.5vw;
  margin-bottom: 7%;
}
.ff-text p{
  font-size: 2.5vw;
  padding: 0 2px;
  margin-bottom: 0;
}
.countdown-block {
  margin-right: 16px;
}
.countdown-block:last-child {
  margin-right: 0;

}
.title {
  font-size: 3vw;
  letter-spacing: 3px;
}
.time-elem {
  height: 56px;
  width: 60px;
  font-size: 25px;
  line-height: 56px;
  margin-bottom: 17px;
}

/*bg-container-2*/
.bg-container-2{
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 5vw;
  padding-top: 10vw;
  text-align: center;
}
.bg-container-2 img{
  position: relative;
  width: 90vw;
}
.block-name{
  float: left;
  position: relative;
  margin-top: 2vw;
  left: 0;
  margin-left: 5%;
  margin-right: 5%;
}
.block-name h2{
  font-size: 9vw;
  letter-spacing: 0.8vw;
  text-align: center;
}
.block-name p{
  left: 0px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  font-size: 3.5vw;
  text-align: justify;
  letter-spacing: 0.4vw;
}
/*bg-container-3*/
.bg-container-3{
  padding: 1vw 5vw;
}
.why{
  position: relative;
  width: 100vw;
}
.why h2{
  letter-spacing: 0.5vw;
  font-size: 20vw;
  margin-top: 15vw;
  margin-left: 5vw;
  margin-bottom: 10vw;
  width: 100vw;
}

.why-bg-2-container{
  position:relative;
  float: left;
  top: 80px;
  left: 0%;
  margin-top: -10vw ;
  }
  .why-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
  .why-card {
    border-radius: 15px;
    padding: 20px;
    background-color:white;
    height: 50vw;
    width: 90vw;
  }
  .why-card:hover{
    display: none;
  }
  .why-container {
    padding:0;
  }
  
  .why-h2{
    font-size: 8vw;
    letter-spacing: 1vw;
    margin: 2vw 0 ;
    margin-left: 2vw;
    text-align: left;
  }
  .why-h5{
    height:0px;
    font-size: 3.5vw;
    margin: 3%;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 0;
    text-decoration: none;
    text-align: justify;
    letter-spacing: 0.2vw;
    font-style: italic;
  }
  .recap-video iframe{
    width: 90vw;
    height: 60vw;
    position: relative;
    margin:0;
    margin-top: 26vw;
    margin-bottom: 10vw;
  }

/*bg-container-4*/
.bg-container-4{
  height: 100%;
  padding: 10vw 0;
}

.events-category {
  font-size: 15vw;
  margin-bottom: 5vw;
  letter-spacing: 1vw;
}
.events-container {
  padding: 0 8vw;
}

.events-card {
  width: 50vw;
  height: 82vw;
  margin-right: 6vw;
  padding: 3.5vw;
}
.events-card:hover{
  transform: translateY(-5px);
}
.event-date{
  font-size: 2.1vw;
  letter-spacing: 0.1vw;
  margin: 1vw 0;
  margin-bottom: 4vw;
  font-style: italic;
}
.event-name{
  font-size: 4.5vw;
  font-family: 'LexendDeca';
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.1vw;
  margin: 1vw 0px 4vw 0px;
}
.event-img{
  width: 100%;
  height: 30vw;
}

.card-btn {
  padding: 1vw;
  width: 42vw;
  font-size: 3vw;
}

.events-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
  border: none;
}
.nxt-btn {
  right: 0;
}

/*bg-container-5*/
.bg-container-5{
  padding: 0 5%;
  padding-top: 5vw;
  height: 130vw;
}
.snaps-heading-container{
  padding: 0 0;
}
.snaps-heading-container h2{
  font-size: 16vw;
  line-height: 1;
  letter-spacing:  1vw;
}
.snaps-heading-container p{
font-size: 3.5vw;
}
.snaps-container{
  margin-top: -25vw;
  padding-bottom: 10vw;
}
.img-1{
top: 85vw;
right: 52vw;
}
.img-1:hover{
right: 46vw;
width: 60vw;
}
.img-2{
  right: 0.5vw;
  top: 80vw;
}
.img-2:hover{
  width: 60vw;
  right: 5vw;
}
.img-3{
  right: 4vw;
  top: 110vw;
}
.img-3:hover{
width: 60vw;
right: 42px;
}
.img-4{
  right: 20vw;
  top: 72vw;
}
.img-4:hover{
  width: 60vw;
}
.img-5{
  top: 112vw;
  right: 50vw;
}
.img-5:hover{
  width: 60vw;
  top: 100vw;
  right: 25vw;
}
.img-6{
  right: 45vw;
  top: 78vw;
}
.img-6:hover{
  width: 60vw;
  top: 80vw;
  right: 25vw;
}
.img-7{
  right: 40vw;
  top: 97vw;
}
.img-7:hover{
  width: 60vw;
  right: 20vw;
}
.img-8{
  right: 12vw;
  top: 93vw;
}
.img-8:hover{
  width: 60vw;
  right: 12vw;
}

/* bg- container 6*/
.bg-container-6{
  height: 100%;
}
.bg-container-6 video {
  height: 30vh;
}
.overlay-vedio h2{
  font-size: 10vw;
  margin: 2% 0px;
  margin-bottom: 0;
  letter-spacing: 0.5vw;
  text-shadow: 1.5px 2px rgba(134, 133, 133, 0.9);
  top: 30vw;
}
.overlay-vedio a{
  top: 30vw;
  padding: 1vw 4vw;
  font-size: 2.5vw;
}

.bg-container-7{
  height: 100%;
  padding: 5vw;
}
.bg-7-card-container{
  display: block;
  gap: 10px;
}

.card-bg-7{
  padding: 5vw;
  width: 100%;
  margin-bottom: 5vw;
}
.card-bg-7 img{
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}
.card-content-bg-7{
  margin-left: 5vw;
}
.card-content-bg-7 h2{
  letter-spacing: 0.5vw;
  font-size: 6vw;
}
.card-content-bg-7 p{
  font-size: 2.5vw;
  margin: 1vw 0;
}
.card-content-bg-7 a{
  font-size: 3vw;
}

/*footer*/
 .footer{
  padding: 0.5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  padding-top: 5vw;
}
.footer-container{
  padding: 2vw 0 2vw 0;
  display: block;
}
.footer-logo{
  height: auto; 
  width: 70vw;
  position: relative;
  margin-bottom: 0vw;
}
.date-footer{
  left: 4vw;
  font-size: 2.5vw;
  margin:0;
}
.copyrights{
  left: 4vw;
  font-size: 2vw;
}
.hs-toggles-footer {
  margin-top: 2vw;
  left: 4vw;
  width: 70vw;
}
.footer-name {
    float: left;
    left: 0vw;
    padding: 2vw 0;
    margin-right: 3vw;
    font-size: 4vw;
}
.social-buttons{
  margin-top: 5vw;
  left: 4vw;
  width: 90vw;
}
.social-buttons p{
  color: grey;
  position: relative;
  font-size: 5vw;
  padding: 2vw 0;
  top: 0vw;
  left: 0vw;
  font-family: 'LexendDeca';
}
.social-buttons a.fab {
  display: inline-block;
}

.social-buttons a {
  font-size: 5vw;
  padding-right: 5.6vw;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 10px;
}
.social-buttons a {
  display: inline-block;
  border-radius: var(--ap-border-radius);
  height: 8.5vw;
  width: 8.5vw;
  padding: 1.45vw;
  border-radius: 50%;
  border: grey solid 0.3px;
  transition: 1s;
  margin-right: 1vw;
  margin-bottom: 2vw;
}

/*footer ends*/
}
/* Styles for iPhone 6/7/8 */
@media only screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .snaps-container{
    height: 90vw;
    margin-top: -25vw;
    padding-bottom: 10vw;
  }
}

/* Styles for iPhone 6+/7+/8+ */
@media only screen and (max-width: 414px) and (-webkit-min-device-pixel-ratio: 3) {
  .snaps-container{
    height: 90vw;
    margin-top: -25vw;
    padding-bottom: 10vw;
  }
}
