
@font-face {
    font-family:'Agharti';
    src: url('..//fonts/agharti-font-family-1731807283-0/AghartiFamilyTest-Bold-BF66722ede4bf4a.otf') format('truetype');
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family:'LexendDeca';
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*header starts*/
#navbar {
    background: white;
    height: 70px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    margin-top: 40px;
    transition: top 0.8s;
}


#navbar #logo {
    display: block;
    height: 10px;
    margin: 5px;
    float: left;
}
#navbar #logo img {
    width: 50px;
}
#logo {
    position: relative;
    top: 6px;
    left: 30px;
}

#navbar #logo span {
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff!important;
}
.header-setting {
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    left: 35%;
    margin-left: 15px;
}
.hs-toggles {
    padding: 5px 0;
}
.header-name {
position: relative;
    font-size: 16px;
    top: 20px;
    font-weight:450;
    line-height: 20px;
    padding: 20px;
    padding-right: 25px;
    color: black;
    font-family:'LexendDeca';
    text-decoration: none;
}
.header-name:hover{
    color: #ff5c35;
}
.scanner{
position: absolute;
}
/*header ends*/

.bg-container {
    text-align: "LexendDeca";
    text-align: center;
    background-color: #f2e1c5;
    padding-top: 7%;
    padding-bottom: 6%;
    width: 100%;
}

.bg-container h1{
    background-color: white;
    font-family: "Agharti";
    letter-spacing: 3;
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px 50px;
    border: #213343 solid 2px;
    border-radius: 10px;
    width: 200px;
    margin-left: 41%;
    margin-right: 41%;
}

.bg-container hr {
    width: 500px;
}

#errors {
    color: coral;
    background-color: white;
    padding: 10px;
    width: 450px;
    margin-left: 36%;
    margin-right: 36%;
}

#board {
    width: 450px;
    height: 450px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}
 /*footer*/
.footer{
    background-color:#213343;
    height: 25vh;
    width: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-container{
    padding: 45px 0 5px;
    display: flex;
    flex-wrap: wrap;
}
.footer-logo{
    height: auto; 
    width: 300px;
    position: relative;
}
.date-footer{
    font-family: 'LexendDeca';
    color: #949393;
    position: relative;
    left: 10px;
    font-size: 13px;
    letter-spacing: 1.2px;
}
.copyrights{
    color: white;
    font-family: 'LexendDeca';
    font-size: 10px;
    position: relative;
    top: 20px;
    left: 20px;
}
.hs-toggles-footer {
    position: relative;
    left: 23%;
}
.footer-name {
    position: relative;
    font-size: 15px;
    top: 30px;
    line-height: 20px;
    padding: 20px;
    padding-right: 15px;
    color: #ffffff;
    font-family:'LexendDeca';
    font-weight: 500;
    text-decoration: none;
}
.social-buttons{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 100px;
    display: none;
}
.social-buttons p{
    color: grey;
    position: absolute;
    font-size: 18px;
    top: -8px;
    left: -150px;
    font-family: 'LexendDeca';
}
.social-buttons a.fab {
    display: inline-block;;
    margin: 8px 0 8px 0px;
}

.social-buttons a {
    font-size: 1.2em;
    padding-right: 0.6em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
}
.social-buttons a {
    display: inline-block;
    border-radius: var(--ap-border-radius);
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #213343;
    padding: 5px;
    border-radius: 50%;
    border: grey solid 0.3px;
    transition: 1s;
}
.color{
    color: white;
}

/*footer ends*/